extends layout

block content
  .row
    .col-sm-8
      h1 CLT Map
      p.lead Click points to read crash messsages
      hr
      #map

    .col-sm-4
      .row
        .col-12
          h1= title
          p.lead CLT Crash Count: <strong>#{events.length}</strong>
          hr

      .row
        .col-12.list
          each val in events
            //.row.event
            blockquote.msg= val.message

              //ul.list-inline.pull-right
                //li <strong>Lat:</strong>
                //li= val.latitude
                //li <strong>Long:</strong>
                //li= val.longitude
