#map {
    width: 100%;
    height: 500px;
    display: block;
}

/*.list {
  position: fixed;
  float: right;
  height: 100%;
  overflow: auto;
}*/

.event {
/*  background-color: #bada55;*/
  border: solid 1px lightgrey;
  padding: 3px 3px;
  margin: 4px 0px;
}

div.row.event>ul.list-inline li:nth-child(odd) {
  text-transform: uppercase;
}

blockquote.msg {
  background-color: #f0d1d9;
  font-size: 12px;
  color: #444444;
  border-left: 5px solid #b6405f;
}
